
/* /// css for fileuploader */

.guZdik {
    min-width: 0 !important;
    max-width: 100% !important;
    height: 300px !important;
    border: 2px dashed blue !important;
  
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .jWkLDY {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
    flex-grow: 0 !important;
  }
  
  .jWkLDY > span {
    font-size: 19px !important;
    color: grey !important;
    text-align: center !important;
  }
  .jWkLDY .file-types {
    max-width: 290px !important;
  }
  .kFhUBM span {
    color: rgb(28, 28, 212) !important;
    font-weight: bold;
  }
  